body {
    background-color: black;
    padding: 18%;
    font-family: "SGA";
}

p {
    color: white;
    text-align: center;
}

@font-face {
    font-family: "SGA";
    src: url(YourAddiction/SGA/VoxelGalactic-Regular.ttf);
}